<form method="post" name="message-form" class="message-form" data-send-to="<%= to %>"" action="send.php?to=<%= to %>">
    <textarea name="message"></textarea>

    <input type="submit" name="submit" value="Отправить">
</form>